<div class="well">
  <div>
  <table class="table table-responsive-lg table-light table-hover">
    <thead>
      <th>Rank</th>
      <th>Portrait</th>
      <th>Tag</th>
      <th>Main</th>
      <th>Secondary</th>
      <th>Win Ratio</th>
      <th>Elite</th>
    </thead>
    <tbody>
      <tr *ngFor='let user of user$ | async; let i = index' class='clickable-row' [routerLink]= "['/users', user._id]">
        <td>{{i+1}}</td>
        <td>
          <img class='rounded'style="width:80px;height:80px;" src={{user.picture}}>
        </td>
        <td>{{user.username}}</td>
        <td>{{user.main}}</td>
        <td>{{user.secondary}}</td>
        <td>{{ (user.wins)/(user.wins+user.losses) | number : '1.2-2'}}</td>
        <td> <a *ngIf='user.elite'><img style="width:40px;height:40px;" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQcLdFVl3cWFz4zg0sogeNRumi3RDDXG864ZM2bsNvv9UAPCiG_"></a></td>
      </tr>
    </tbody>
  </table>
  </div>
</div>